# ===============================
# data_ingestion (Python)
# ===============================
data_ingestion/__pycache__/
data_ingestion/*.py[cod]
data_ingestion/.venv/
data_ingestion/venv/
data_ingestion/ENV/
data_ingestion/env/
data_ingestion/.data/
data_ingestion/src/.data/
data_ingestion/.refdata/
data_ingestion/debug_archive/
data_ingestion/.meta_coordination/
data_ingestion/src/config/.env.dev
data_ingestion/src/config/.env.prod
data_ingestion/.env.dev
data_ingestion/.env.prod
data_ingestion/.env
data_ingestion/.logs/
data_ingestion/node_modules/
*.log


# ===============================
# IDE / Editor
# ===============================
.vscode/

# ===============================
# OS-specific files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Other / backups
# ===============================
*.log
projecttree.md

# ===============================
# Other / backups
# ===============================
*.bak
*.backup
*.full_backup